/* VARIABLES */
$base_white: #fff;
$base_red: #e84118;
$base_red_hover: #c23616;
$base_blue: #40739e;
$base_ligh_grey: #f5f6fa;
$base_dark_grey: #2f3640;

/* GENERAL STYLES */
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  border: 1px solid $base_dark_grey;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  font: inherit;
  background: $base_red;
  border: 1px solid $base_red;
  cursor: pointer;
  color: $base_white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: $base_red_hover;
  border-color: $base_red_hover;
}

.projects {
  margin: 1rem;
  border: 1px solid $base_red;
}

.projects header {
  background: $base_red;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#completed-projects {
  border-color: $base_blue;
}

#completed-projects header {
  background: $base_blue;
}

.projects h2 {
  margin: 0;
  color: $base_white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.projects li {
  box-shadow: 1px 1px 8px $base_dark_grey;
  padding: 1rem;
  margin: 1rem;
  min-width: 30%;
}

.projects li h2 {
  color: $base_red;
  margin: 0.5rem 0;
}

#completed-projects li h2 {
  color: $base_blue;
}

.projects li h3 {
  color: $base_dark_grey;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: $base_ligh_grey;
}

#completed-projects .droppable {
  background: $base_ligh_grey;
}

#user-input {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $base_dark_grey;
  background: $base_ligh_grey;
}
